/*
-----------------------------------------------
Math And Statistics style info
author:		Edward Fingland
version:	2002.11.25
-----------------------------------------------
*/

/* Page Structure
----------------------------------------------- */
body {
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px;
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: #000;
	background-color: #fff;
	width: 700px;
	}

/* Page Top
----------------------------------------------- */
#header {
	white-space: nowrap;
	width: 700px;
	height: 77px;
	border: 1px solid #036;
	background-color: #104E8B;
	color: #fff;
	}
#header img {
	border: none;
	}
#menu {
	width: 700px;
	height: 21px;
	text-align: right;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	border-left: 1px solid #990000;
	border-right: 1px solid #036;
	border-bottom: 1px solid #036;
	background-color: #990000;
	padding-right: 0px;
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: #fff;
	}
#menu p {
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: gold;
	}
#search {
	width: 90px;
	height: 19px;
	border: 1px solid #036;
	text-align: left;
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: #000;
	padding-right: 10px;
	}
/* Page Content
----------------------------------------------- */
#container {
	width: 700px;
	padding: 10px 10px 10px 10px;
	background-color: #fff;
	}

/* Page Footer
----------------------------------------------- */
#footer {
	width: 690px;
	height: 18px;
	display: block;
	overflow: hidden;
	font-size: 8pt;
	background-color: #fff;
	color: #9cf;
	border: 1px solid #036;
	text-align: center;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	}
#footer a {
	text-decoration: none;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	font-weight: normal;
	color: #104E8B;
	}
#footer a:hover {
	text-decoration: underline;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	color: #104E8B;
	}
#leftfoot {
	float:left;
	padding-left:10px;
	}
	
/* Page Footer2
----------------------------------------------- */
#footer2 {
	width: 690px;
	height: 18px;
	display: block;
	overflow: hidden;
	font-size: 8pt;
	background-color: #104E8B;
	color: #fff;
	border: 1px solid #036;
	text-align: center;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	}
#footer2 a {
	text-decoration: none;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	font-weight: normal;
	color: #fff;
	}
#footer2 a:hover {
	text-decoration: underline;
	font-family: sans-serif, verdana, arial;
	font-size: 8pt;
	color: #fff;
	}

/* General Display Rules
----------------------------------------------- */
.spkonly {
	display: none;
	}
.cntr {
	text-align: center;
	}
.small {
	font-family: sans-serif, verdana, arial;
	font-size:8pt;
	}
a {
	text-decoration: none;
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	font-weight: bold;
	color: #036;
	}
a:hover {
	text-decoration: underline;
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: #036;
	}
p {
	font-family: sans-serif, verdana, arial;
	font-size: 10pt;
	color: #036;
	

	}
h1 {
	font-family: sans-serif, verdana, arial;
	font-size: 18pt;
	color: #036;
	}
h2 {
	font-family: sans-serif, verdana, arial;
	font-size: 16pt;
	color: #036;
	}
h3 {
	font-family: sans-serif, verdana, arial;
	font-size: 14pt;
	color: #036;
	}
h4 {
	font-family: sans-serif, verdana, arial;
	font-size: 12pt;
	color: #036;
	}
dt {
	font-weight: bold;
	}
img {
	border: none;
	}
hr {
	color: #036;
	}
/* For Printers
----------------------------------------------- */
@media print {

#TotalMenu, #menu {
	display: none;
	}
.spkonly {
	display: none;
	}
}
	
/* For Aural Browsers
----------------------------------------------- */
@media aural {

.spkonly {
	stress: 30;
	richness: 80;
	}
.hide {
	speak: none
	}
h1, h2, h3 {
	stress: 20;
	richness: 90
	}
dt {
	pause-before: 20%
	}
pre {
	speak-punctuation: code
	}
strong {
	stress: 30;
	richness: 80;
	}
}