BODY {
	background: white url(mastbkg-grey2.jpg) repeat-y;
	color: black;
	margin-left: 3.5em;
	margin-right: 3em;
	/*margin-top: 1em;*/
	text-align: left;
}

H1 {
	color: maroon;
	background: transparent;
	text-decoration: none;
	font-weight: bold;
	font-size: 140%;
	line-height: 160%;
}

H2 {
	color: #224466;
	background: transparent;
	font-size: 130%;
	line-height: 145%;
}

H3 {
	font-size: 110%;
	line-height: 135%;
}

H4 {
	font-size: 100%;
	line-height: 120%;
}

P {
	text-align: left;
	line-height: 115%;
/*	padding-top: 0em;
	padding-bottom: 0em; */
}

/* P:first-letter { font-size: 200%; float: left } */

.footer {
	color: black;
	background: transparent;
	font-size: 70%;
	line-height: 70%;
}

ADDRESS {
	color: white;
	background: gray;
}

ADDRESS A {
	color: yellow;
	background: transparent;
}

P.warning {
	color: red;
	background: transparent;
	font-style: italic;
}

.note {
	color: red;
	background: transparent;
	font-weight: normal;
}

P.smallnote {
	color: red;
	background: transparent;
	font-size: small;
}

P.titlequote {
	font-style: italic;
	color: green;
	background: transparent;
}

HR {
	padding-top: 0em;
	padding-bottom: 0em;
}

PRE {
	font-family: monospace;
	font-size: 1em;
}

.center {
	text-align: center;
}

.title {
	text-align: center;
	background: transparent;
	color: blue;
	font-size: 150%;
	line-height: 180%;
}

TABLE {
	font-family: arial, verdana, helvetica, sans-serif;
}	

TR.head {
	background: #DDDDFF;
	color: black;
}

TR.subhead {
	background: #EEEEEE;
	color: black;
}

TR.divider {
	background: #EEEEEE;
	color: #EEEEEF;		/* dividers have no text */
}

.directory {
	text-align: right;
	color: blue;
	background: transparent;
	font-size: 80%;
}

.toc {
	text-align: right;
	color: green;
	background: transparent;
	font-size: 80%;
}

.name {
	color: maroon;
	background: transparent;
}

UL LI {
	list-style: disc;
}

DT, DL {
	line-height: 115%;
}

-->


